body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view > * {
  margin-top: 8px;
}

#train-data,
#training-examples {
  display: block;
}
